.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

form {
    text-align: left;
}

form p {
    display: flex;
    flex-direction: column;
}

form p .btn{
    width: 8rem;
    margin: auto;
}