<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand text-info"
       href="#"
    >SocialKnight</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarColor02"
            aria-controls="navbarColor02"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarColor02"
    >
        {% if request.user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link text-info {% if section == "dashboard" %} active {% endif %}"
                       href="{% url "account:dashboard" %}"
                    >My dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-info {% if section == "images" %} active {% endif %}"
                       href="/images"
                    >Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info {% if section == "people" %} active {% endif %}"
                       href="{% url "account:user_list" %}"
                    >People</a>
                </li>
            </ul>
        {% endif %}
        <div class="my-lg-0 ml-auto">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <a class="btn btn-outline-warning mx-xl-4"
                   href="{% url "account:logout" %}"
                >Logout</a>
            {% else %}
                <a class="btn btn-outline-warning mx-xl-4"
                   href="{% url "account:login" %}"
                >Login</a>
            {% endif %}
        </div>
    </div>
</nav>