{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    {% if validlink %}
        <div class="form-container ">
            <h1>Reset your password</h1>
            <p>Please enter your new password twice:</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p>
                    <input class="btn btn-lg btn-outline-warning"
                           type="submit"
                           value="Change My Password"
                    >
                </p>
            </form>
        </div>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}