{% load thumbnail %}
{% for image in images %}
    <div class="image card" style="width: 15vw">
        {% thumbnail image.image 300x300 crop="smart" as im %}
        <img class="card-img-top" src="{{ im.url }}">
        <div class="card-body">
            <p class="card-title">{{ image.title }}</p>
            <p class="card-text">{{ image.description|linebreaks }}</p>
            <a href="{{ image.get_absolute_url }}"
               class="btn btn-outline-primary"
            >
                See Image
            </a>
        </div>
    </div>
{% endfor %}
