hr {
    background: #d3d3d3;
}

.image-container {
    display: flex;
}

.image-url {
    padding-right: 2rem;
}

.image-detail {
    display: flex;
    flex-direction: column;
}

.image-likes {
    display: inline-block;
    border: 3px solid #854FAD;
    font-size: 1.5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 15px;
    text-align: center;
}

.image-description {
    margin-top: 10px;
}

#image-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    padding: 1rem 2rem;
    transform: scale(0);
    transition: 0.5s;
}

.image.animate{
  transform: scale(1);
}